<!DOCTYPE html>
<html>
<head>
  <title>Add New User</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css"></head>
<body>
  <h1>Add New User</h1>
  <form action="/users/new" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required>

    <label>UserName:</label>
    <input type="text" name="userName" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <button type="submit">Create User</button>
  </form>
  <a href="/users">Back to Users</a>
</body>
</html>