<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user.id %>/applications">
          <%= user.name %> (<%= user.email %>)
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>