<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user.userName %>/applications">
          <%= user.name %> (<%= user.userName %>)
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/users/new">Add New User</a>
</body>
</html>